.detournee{
  font-style: oblique;
  text-decoration: underline;
}

.contandante{
  font-weight: bold;
}
article h2,h1,h3{
  color:red;
}
aside>nav>ul>li>ul>li{
    list-style-type: none;
}
#armes>ul>li{
  color: green;
}
#armes>ul>li>ul>li{
  color: blue;
}

article img{
  width: 1em;
}

aside{
  width: 20%;
}

aside>img{
  width: 12.5em;
}


